<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674806514366-15ph5r1iju4am9uc6il6ja4c0c01mad0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674806514366-15ph5r1iju4am9uc6il6ja4c0c01mad0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674806514366-jd6apjdiu8eb1a60okvc835e9g4rn2f3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLxDrbKMzR0onEAbxVomucOA35bIydh8g</string>
	<key>GCM_SENDER_ID</key>
	<string>674806514366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.historias</string>
	<key>PROJECT_ID</key>
	<string>historias-71582</string>
	<key>STORAGE_BUCKET</key>
	<string>historias-71582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674806514366:ios:62492a069bb8c42f</string>
	<key>DATABASE_URL</key>
	<string>https://historias-71582.firebaseio.com</string>
</dict>
</plist>